* , *::after , *::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image:url(backg5.png);    
    background-color: #333; 
    background-size: cover;
    background-position: bottom;
}


.calculadora-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px,auto )repeat(5, 100px);
}

.calculadora-grid button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #fff;
    outline: none;
    background-color: rgba(255,255,255, .75);
}
.border1 {
    border-radius: 0px 0px 0px 10px;
}
.border2 {
    border-radius: 0px 0px 10px 0px;
}
button:hover {
    background-color: rgba(255,255,255, .9);
}
.span-2 {
    grid-column: span 2;
}

.saida {
    grid-column: 1/-1;
    background-color: rgba(0,0,0, .8);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px 10px 0px 0px;
}

.saida .saida-anterior{
    color: rgba(255,255,255, .75);
    font-size: 1.5rem;
}
.saida .saida-atual{
    color: rgba(255,255,255, 1);
    font-size: 2.5rem;
}

@media (max-width:500px) and (max-height:860px) {
    .calculadora-grid {
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: minmax(120px,auto )repeat(5, 60px);
    }
    .calculadora-grid button{
        font-size: 1.5rem;
    }
    .saida .saida-atual{
        font-size: 1.5rem;
    }


}